<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.isitraining.keegansmith.is_it_pouring_refactor"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launchericon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TodayForecastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:label="@string/settings_string"
            android:parentActivityName=".TodayForecastActivity">

        </activity>
    </application>

</manifest>